@import 'reset.scss';
@import 'mixins.scss';

body {
  font-family: 'Inter', sans-serif;
  color: #111;
}

#hero {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;

  @media (min-width: 550px) {
    min-height: 100vh;
  }

  .section-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.1);
    border-radius: 77px;
    padding: 80px 80px;
    width: 100%;
    max-width: 1000px;
    align-items: center;

    @media (max-width: 650px) {
      padding: 40px 40px 20px;
      border-radius: 35px;
    }

    @media (max-width: 450px) {
      display: block;
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      background: linear-gradient(140deg, #65BEFE 0%, #5876C5 100%);
      border-radius: 77px;
      width: 90%;
      height: 120%;
      transform: translate(-50%,-50%) rotate(2.4deg);
      z-index: -1;
      animation: gentleRocking ease-in-out 5s;
      animation-iteration-count: infinite;
      transform-origin: 0 0;

      @media (max-width: 650px) {
        border-radius: 30px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 75%;
      background: rgba(225, 225, 225, 0.5);
      border-radius: 77px;
      width: 90%;
      height: 120%;
      transform: translate(-80%,-50%) rotate(-1deg);
      z-index: -2;

      @media (max-width: 650px) {
        border-radius: 30px;
      }
    }

    @media (max-width: 450px) {
      text-align: center;
    }

    .info {
      margin-right: 40px;

      @media (max-width: 450px) {
        margin-right: 0;
      }

      h1 {
        margin: 0;
        font-size: 40px;
        font-weight: 600;
        @include fluid-type(512px, 1200px, 26px, 40px);
        opacity: 0;
        transition: opacity 0.4s ease-out;
        line-height: 1.1em;

        html.wf-active &, html.wf-inactive & {
          opacity: 1;
        }

        span {
          text-decoration: underline dotted #ccc;
        }
      }

      h2 {
        font-size: 34px;
        @include fluid-type(512px, 1200px, 18px, 34px);
        font-weight: 400;
        margin: 15px 0 0;
        opacity: 0;
        transition: opacity 0.4s ease-out;
        line-height: 1.2em;

        html.wf-active &, html.wf-inactive & {
          opacity: 1;
        }
      }

      > a {
        font-size: 36px;
        @include fluid-type(512px, 1200px, 18px, 34px);
        font-weight: 400;
        margin: 0;
        text-decoration: underline;
        color: #111;
        overflow: hidden;
        transition: clip-path 275ms ease;
        position: relative;
        display: inline-block;
        line-height: 1.1em;
        opacity: 0;
        transition: opacity 0.4s ease-out;

        html.wf-active &, html.wf-inactive & {
          opacity: 1;
        }

        @media (max-width: 450px) {
          margin-top: 15px;
        }

        &:hover::before {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
        &::before {
          position: absolute;
          content: attr(data-content);
          color: #5876C5;
          text-decoration: underline;
          clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
          transition: clip-path 275ms ease, opacity 0.4s ease-out;
          opacity: 0;

          html.wf-active &, html.wf-inactive & {
            opacity: 1;
          }
        }
      }

      .social {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        align-items: center;
        padding: 0;
        margin: 25px 0 0;

        @media (max-width: 450px) {
          margin: 25px auto 0;
        }

        li {
          min-width: 55px;
          opacity: 0;
          transition: opacity 0.4s ease-out;

          html.wf-active &, html.wf-inactive & {
            opacity: 1;
          }
        }

        svg {
          max-width: 48px;
          transition: transform 0.2s ease-in-out;
          transform: scale(0.8);
        }

        a:hover svg {
          transform: scale(1) !important;
        }
      }
    }

    .photo {
      max-width: 30vw;

      @media (max-width: 450px) {
        text-align: center;
        margin: 0 auto;
      }

      img {
        border-radius: 50%;
        display: block;
        margin: 20px auto 0;
        filter: grayscale(0.10);
        opacity: 0;
        transition: opacity 0.4s ease-out;

        html.wf-active &, html.wf-inactive & {
          opacity: 1;
        }
      }
    }
  }
}

@keyframes gentleRocking{
  0% {
    transform: rotate(2.4deg) translate(-50%,-50%);
  }
  50% {
    transform: rotate(-1deg) translate(-50%,-50%);
  }
  100% {
    transform: rotate(2.4deg) translate(-50%,-50%);
  }
}
