body, html {
  padding: 0;
  margin: 0;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Inter", sans-serif;
  color: #111;
}

#hero {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}
#hero .section-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  -webkit-box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.1);
  border-radius: 77px;
  padding: 80px 80px;
  width: 100%;
  max-width: 1000px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 650px) {
  #hero .section-content {
    padding: 40px 40px 20px;
    border-radius: 35px;
  }
}
@media (max-width: 450px) {
  #hero .section-content {
    display: block;
  }
}
#hero .section-content:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#65BEFE), to(#5876C5));
  background: linear-gradient(180deg, #65BEFE 0%, #5876C5 100%);
  border-radius: 86px;
  width: 90%;
  height: 120%;
  -webkit-transform: translate(-50%, -50%) rotate(2.04deg);
          transform: translate(-50%, -50%) rotate(2.04deg);
  z-index: -1;
}
@media (max-width: 450px) {
  #hero .section-content {
    text-align: center;
  }
}
#hero .section-content .info {
  margin-right: 40px;
}
@media (max-width: 450px) {
  #hero .section-content .info {
    margin-right: 0;
  }
}
#hero .section-content .info h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
}
#hero .section-content .info h1 {
  font-size: 26px;
}
@media screen and (min-width: 512px) {
  #hero .section-content .info h1 {
    font-size: calc(26px + 14 * ((100vw - 512px) / 688));
  }
}
@media screen and (min-width: 1200px) {
  #hero .section-content .info h1 {
    font-size: 40px;
  }
}
#hero .section-content .info h1 span {
  -webkit-text-decoration: underline dotted #ccc;
          text-decoration: underline dotted #ccc;
}
#hero .section-content .info h2 {
  font-size: 34px;
  font-weight: 400;
  margin: 15px 0 0;
}
#hero .section-content .info h2 {
  font-size: 18px;
}
@media screen and (min-width: 512px) {
  #hero .section-content .info h2 {
    font-size: calc(18px + 16 * ((100vw - 512px) / 688));
  }
}
@media screen and (min-width: 1200px) {
  #hero .section-content .info h2 {
    font-size: 34px;
  }
}
#hero .section-content .info > a {
  font-size: 36px;
  font-weight: 400;
  margin: 0;
  text-decoration: underline;
  color: #111;
  overflow: hidden;
  -webkit-transition: -webkit-clip-path 275ms ease;
  transition: -webkit-clip-path 275ms ease;
  transition: clip-path 275ms ease;
  transition: clip-path 275ms ease, -webkit-clip-path 275ms ease;
  position: relative;
  display: inline-block;
}
#hero .section-content .info > a {
  font-size: 18px;
}
@media screen and (min-width: 512px) {
  #hero .section-content .info > a {
    font-size: calc(18px + 16 * ((100vw - 512px) / 688));
  }
}
@media screen and (min-width: 1200px) {
  #hero .section-content .info > a {
    font-size: 34px;
  }
}
@media (max-width: 450px) {
  #hero .section-content .info > a {
    margin-top: 15px;
  }
}
#hero .section-content .info > a:hover::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
#hero .section-content .info > a::before {
  position: absolute;
  content: attr(data-content);
  color: #5876C5;
  text-decoration: underline;
  -webkit-clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
          clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  -webkit-transition: -webkit-clip-path 275ms ease;
  transition: -webkit-clip-path 275ms ease;
  transition: clip-path 275ms ease;
  transition: clip-path 275ms ease, -webkit-clip-path 275ms ease;
}
#hero .section-content .info .social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 25px 0 0;
}
@media (max-width: 450px) {
  #hero .section-content .info .social {
    margin: 25px auto 0;
  }
}
#hero .section-content .info .social svg {
  max-width: 48px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
#hero .section-content .info .social a:hover svg {
  -webkit-transform: scale(1);
          transform: scale(1);
}
#hero .section-content .photo {
  max-width: 30vw;
}
@media (max-width: 450px) {
  #hero .section-content .photo {
    text-align: center;
    margin: 0 auto;
  }
}
#hero .section-content .photo img {
  border-radius: 50%;
  display: block;
  margin: 20px auto 0;
}
/*# sourceMappingURL=style.css.map */